<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Component Test</title>
	<link rel="stylesheet" href="css/static/main.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
	<div class="simple-calculator">
		<h2>Simple Calculator</h2>
		<div>
			<h3>Addition</h3>
			<input name="augend"> + <input name="addend"> = <input readonly name="sum"> <button class="add">Caculate</button>
		</div>
		<div>
			<h3>Subtraction</h3>
			<input name="minuend"> + <input name="subtraend"> = <input readonly name="difference"> <button class="subtract">Caculate</button>
		</div>
		<div>
			<h3>Multiplication</h3>
			<input name="multiplicand"> + <input name="multiplier"> = <input readonly name="product"> <button class="multiply">Caculate</button>
		</div>
	</div>
	<script src="static/bundle.js"></script>
</body>
</html>